Repository dimazuien/react-viewport-height: changes, and which lint-staged commands are due for each by the changed paths.
All: jest --bail --findRelatedTests --passWithNoTests, eslint --max-warnings=0 --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "jest --bail --findRelatedTests --passWithNoTests",
    "eslint --max-warnings=0 --fix"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

ci: disable failing semantic-release github step
  .releaserc.json
Due: prettier --write

chore: update eslint config
  .eslintrc.json
Due: prettier --write

chore(deps): update dependency @testing-library/jest-dom to v6
  .eslintrc.json
  jest.config.ts
  package-lock.json
  package.json
  src/setupTests.ts
  src/useVH/index.test.tsx
Due: jest --bail --findRelatedTests --passWithNoTests, eslint --max-warnings=0 --fix, prettier --write

chore(deps): update actions/checkout action to v4
  .github/workflows/codeql-analysis.yml
Due: none

ci: reverte node version from 20.8.0 to 20.7.0
  .nvmrc
Due: none

refactor: refactor tests
  .eslintrc.json
  .gitignore
  jest.config.ts
  package-lock.json
  package.json
  src/useVH/index.test.tsx
  tsconfig.base.json
  tsconfig.eslint.json
  tsconfig.json
Due: jest --bail --findRelatedTests --passWithNoTests, eslint --max-warnings=0 --fix, prettier --write

chore: add coverage to eslintignore
  .eslintignore
Due: none

ci: add junit report to circleci
  .circleci/config.yml
  .gitignore
  jest.config.ts
  package-lock.json
  package.json
Due: jest --bail --findRelatedTests --passWithNoTests, eslint --max-warnings=0 --fix, prettier --write

ci: fix config
  .circleci/config.yml
Due: none

ci: add coverage to artifacts
  .circleci/config.yml
Due: none

docs: fix code scanning shield
  README.md
Due: prettier --write

chore: change browser list to defaults
  .browserslistrc
Due: none

build: add minor babel refactor
  babel.config.json
  webpack.config.ts
Due: jest --bail --findRelatedTests --passWithNoTests, eslint --max-warnings=0 --fix, prettier --write

chore: use new jsx transform
  .eslintrc.json
  src/useVH/index.test.tsx
  tsconfig.json
Due: jest --bail --findRelatedTests --passWithNoTests, eslint --max-warnings=0 --fix, prettier --write

chore: migrate to husky v9
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .vscode/settings.json
  package.json
Due: prettier --write

chore: fix lockfile
  package-lock.json
Due: prettier --write

chore(deps): Bump ws from 8.13.0 to 8.17.1
  package-lock.json
Due: prettier --write

chore: update git hooks
  .commitlintrc
  .gitattributes
  .husky/prepare-commit-msg
  .lintstagedrc.json
Due: prettier --write

chore: change config formats to json
  .commitlintrc
  .commitlintrc.json
  .cz.json
  .czrc
Due: prettier --write

chore: change release config
  .releaserc.json
  .vscode/settings.json
  package-lock.json
  package.json
Due: prettier --write

chore: update settings.json
  .vscode/settings.json
Due: prettier --write

chore: fix formatting
  .editorconfig
  .prettierrc.json
  CHANGELOG.md
  README.md
  docs/index.md
  src/useVH/index.test.tsx
Due: jest --bail --findRelatedTests --passWithNoTests, eslint --max-warnings=0 --fix, prettier --write

chore: update .vscode settings
  .gitignore
  .vscode/extensions.json
  .vscode/settings.recommended.json
Due: prettier --write

chore: update gitignore
  .gitignore
Due: none

chore: add json schema store extension
  .vscode/extensions.json
  .vscode/settings.recommended.json
Due: prettier --write

chore: rename settings.recommended.json to settings.json
  .gitignore
  .vscode/settings.json
Due: prettier --write

chore: add copilot instructions
  .github/copilot-instructions.md
Due: prettier --write

chore: delete funding.yml
  .github/FUNDING.yml
Due: none

chore: add code owners
  CODEOWNERS
Due: none

chore: rename pr template file
  .github/pull_request_template.md
Due: prettier --write
