Repository dimazuien/react-viewport-height: changes, and which lint-staged commands are due for each by the changed paths.
All: jest --bail --findRelatedTests, eslint --max-warnings=0 --fix, prettier --write

chore(deps): update dependency webpack to v5.73.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-jest to v28.0.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-node to v10.8.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to v4.7.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v8.17.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to v18.0.11
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to v28.1.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to v18.0.12
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v5.27.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update node.js to v18.3.0
  .circleci/config.yml
Due: none

chore(deps): update jest monorepo to v28.1.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v13.0.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency semantic-release to v19.0.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency webpack-cli to v4.10.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @babel/core to v7.18.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v5.28.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-jest to v28.0.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency prettier to v2.7.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update react monorepo
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency prettier to v2.7.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to v18.0.13
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v13.0.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to v18.0.14
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update node.js to v18.4.0
  .circleci/config.yml
Due: none

fix: validating server side properly and removing layoutEffect to not get a NextJS warning
  src/useVH.ts
Due: jest --bail --findRelatedTests, eslint --max-warnings=0 --fix, prettier --write

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4fac780c086193988e5309af6bd4058fd9cb86ba
Due: none

Fix: NextJS/SSR Fix
  src/useVH.ts
Due: jest --bail --findRelatedTests, eslint --max-warnings=0 --fix, prettier --write

chore(deps): update minimatch from 3.0.4 to 3.1.2
  yarn.lock
Due: none

chore(deps): update node version in codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

chore(deps): update node.js to v20 in CodeQL
  .github/workflows/codeql-analysis.yml
Due: none

chore: migrate from yarn to npm
  .circleci/config.yml
  .github/workflows/codeql-analysis.yml
  .husky/commit-msg
  .husky/pre-commit
  .nvmrc
  CONTRIBUTING.md
  package-lock.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency prettier to v3
  .prettierignore
  package-lock.json
  package.json
Due: prettier --write

chore: add changes to adapt to typescript eslint major update
  .eslintrc.json
  .gitignore
  src/useVH/index.test.tsx
  src/useVH/index.ts
  tsconfig.base.json
  tsconfig.eslint.json
  tsconfig.json
Due: jest --bail --findRelatedTests, eslint --max-warnings=0 --fix, prettier --write

docs: update readme
  README.md
Due: prettier --write

test: allow passing lint-staged with no related tests
  .lintstagedrc.json
Due: prettier --write

fix: change webpack config to build nodejs-compatible bundle
  webpack.config.ts
Due: jest --bail --findRelatedTests, eslint --max-warnings=0 --fix, prettier --write

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  291b2693cf10ba2739e42abc85d9d31175fadfbd
Due: none

chore: fix grammar in pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Path conditions:
  jest --bail --findRelatedTests: any of: *.{js,jsx,ts,tsx}
  eslint --max-warnings=0 --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
